.m-0{
    margin: 0 auto;
}

.mt-10 {
    margin-top: 20px;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }
.left-contact {
    /* background-image: linear-gradient(to left, #fff, rgb(30, 29, 29)),url(../../images/contact.jpg); */
    /* background-image:url(../../images/contact.jpg);
    background-size: cover;
    opacity: 0.5; */
}

.contact {
    background-size: 100%;
    /* width: 50%; */
    /* height:100%; */
    /* background-repeat: no-repeat;
    background-image:linear-gradient(180deg, #de8300, #f7f3f1); */
   
}

.color-w {
    color: black;
}
