.menu {
    text-decoration: none !important;
    color: white;
}

.z-1 {
    z-index: 999;
    top:0;
    position: fixed !important;
    /* background:  transparent !important; */
    background-color: #000103 !important;
}

.fixedTop {
    background: #000103 !important; /*linear-gradient(45deg, #ea4730, black) !important;*/
    color: white !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    /* background:  transparent !important; */
}

.logo {
    background-image: url('../../images/logo.png');
    border-radius: 50%;
    width: 170px;
    height: 75px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    margin-left:-15px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.fixedTop .color-white {
    color: white;
}